<!DOCTYPE html>
<html>
  <head>
    <title>Rackuel</title>
  </head>
  <body>
    <h2>Welcome to Rackuel</h2>
      <p>
        In sooth, I know not why I am so sad:<br>
        It wearies me; you say it wearies you;<br>
        But how I caught it, found it, or came by it,<br>
        What stuff &#39;tis made of, whereof it is born,<br>
        I am to learn;<br>
        And such a want-wit sadness makes of me,<br>
        That I have much ado to know myself.
      </p>
  </body>
</html>
